.menu {
	width: 100%;
	margin-bottom: 100px;
}

#opcao-bolos:checked ~ #menu-bebidas,
#opcao-bebidas:checked ~ #menu-bolos {
	display: none;
}

body {
	background: #3D1A11;
	margin: 0;
	font-family: sans-serif;
	text-align: center;
}

input[type=radio] {
	display: none;
}

label {
	background-color: #563429;
	background-repeat: no-repeat;
	background-size: 4em;
	background-position: center top;
	color: #fff;
	display: block;
	font-size: 75%;
	padding: 4em 0 1em;
	text-transform: uppercase;

	width: 50%;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

label[for=opcao-bolos]{
	background-image: url(imagens/icone-bolos.svg);
	left: 0;
}

label[for=opcao-bebidas]{
	background-image: url(imagens/icone-bebidas.svg);
	right: 0;
}

input[type=radio]:checked + label {
	background-color: #E4876D;
}

html, body {
	overflow-x: hidden;
	width: 100%;
}

.container-menus {
	transform: translateX(0);
	transition: transform 300ms ease;
	width: 200%;
}

.container-menus .menu {
	float: left;
	width: 50%;
}

#opcao-bebidas:checked ~ .container-menus {
	transform: translateX(-50%);
}